---
---

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption|Quattrocento);

@font-face {
    font-family: 'icon';
    src:url("{{ site.baseurl }}/assets/fonts/icon.eot");
    src:url("{{ site.baseurl }}/assets/fonts/icon.eot?#iefix") format('embedded-opentype'),
        url("{{ site.baseurl }}/assets/fonts/icon.woff") format('woff'),
        url("{{ site.baseurl }}/assets/fonts/icon.ttf") format('truetype'),
        url("{{ site.baseurl }}/assets/fonts/icon.svg#icons") format('svg');
    font-weight: normal;
    font-style: normal;
}

/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/

body {
  background: #FFF8E7;
  color: #222222;
  font-family: "Quattrocento", "Georgia", "Times New Roman", serif;
  font-size: 10px;
  border-top: 4px solid #0033B2;
}

a {
	color: #0033B2;
}

.container {
	margin: 2.4em 2.4em 2.4em 3.6em;
}

.tagline {
	font-style: italic;
}

.project {
	margin-top: 2.4em;
}

.project-name {
	font-size: 1.8em;
	font-family: "Questrial", "HelveticaNeue", "Helvetica", "Verdana", sans-serif;
	line-height: 1.5;
	margin-top: 1.75em;
	margin-top: calc(21 * 1.5 * 1em / 18);
	margin-bottom: 0.5833333em;
	margin-bottom: calc(21 * 0.5 * 1em / 18);
	word-wrap: break-word;
	border-bottom: 1px solid #0033B2;
}

.project-name a {
	display: block;
	text-decoration: none;
	width: 100%;
	position: relative;
}

.project-name a:after, .project-hub:before {
	font-family: "icon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

.project-name a:after {
	content: "\e600";
	margin-left: 6px;
}

.project-hub:before {
  content: "\e601";
  margin-right: 4px;
}

.project-body, .project-status {
	font-size: 1.4em;
	line-height: 1.5em;
}

.project-body p {
	text-indent: 2.8em;
	text-align: justify;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.project-status {
	margin-left: 2.8em;
}

@media screen and (min-width: 320px) {
	
	.project-name a:after {
    margin-left: 0;
		position: absolute;
		right: 0;
	}

	.project:first-child .project-name a:after {
		content: "";
	}

}

@media screen and (min-width: 447px) {

	.container {
		width: 37.5em;
		margin: 3.6em 3.6em 3.6em auto;
	}

	.project {
		margin-top: 3.6em;
	}

}

@media screen and (min-width: 504px) {

	body {
	  font-size: 11.5px;
	}

	.container {
		width: 37.565217em;
		width: calc(432 * 1em / 11.5);
		margin: 3.13043em 3.13043em 3.13043em auto;
		margin: calc(36 * 1em / 11.5) calc(36 * 1em / 11.5) calc(36 * 1em / 11.5) auto;
	}

	.project-name {
		font-size: 2.08695652174em;
		font-size: calc(24 * 1em / 11.5);
		margin-top: 1.71428571em;
		margin-top: calc(24 * 1.5 * 1em / 21);
		margin-bottom: 0.57142857em;
		margin-bottom: calc(24 * 0.5 * 1em / 21);
	}

	.project {
		margin-top: 3.13043em;
		margin-top: calc(36 * 1em / 11.5);
	}

}

@media screen and (min-width: 648px) {

	.container {
		width: 43.8260869565em;
		width: calc(504 * 1em / 11.5);
		margin: 12.5217391304em 6.2608695652em 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) calc(72 * 1em / 11.5) calc(72 * 2em / 11.5) auto;
	}

	.project {
		margin-top: 12.5217391304em;
		margin-top: calc(72 * 2em / 11.5);
	}

}

@media screen and (min-width: 792px) {

	.container {
		margin: 12.5217391304em 12.5217391304em 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) calc(72 * 2em / 11.5) calc(72 * 2em / 11.5) auto;
	}

}

@media screen and (min-width: 936px) {

	.container {
		margin: 12.5217391304em 18.7826086957em 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) calc(72 * 3em / 11.5) calc(72 * 2em / 11.5) auto;
	}

}

@media screen and (min-width: 1080px) {

	.container {
		margin: 12.5217391304em 25.0434782609em 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) calc(72 * 4em / 11.5) calc(72 * 2em / 11.5) auto;
	}

}

@media screen and (min-width: 1224px) {

	.container {
		margin: 12.5217391304em 31.3043478261em 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) calc(72 * 5em / 11.5) calc(72 * 2em / 11.5) auto;
	}

}

@media screen and (min-width: 1440px) {

	.container {
		margin: 12.5217391304em auto;
		margin: calc(72 * 2em / 11.5) auto;
	}

}